@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --font-family1: "Montserrat", sans-serif;
  --font-family2: "Source Sans 3", sans-serif;
  --color1: #F4F6F7;
}

body {
  font-family: var(--font-family2) !important;
  margin: 0px;
  padding: 0px;
}

.div {
  height: 100vh;
}

/* Loader */

.loader {
  z-index: 200 !important;
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #e6ac48;
  border: 2px solid;
  position: relative;
  transition: 0.9s ease-in-out;

}

.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;

}

@keyframes l6 {
  100% {
    inset: 0
  }
}

#loader {
  z-index: 200 !important;
position: fixed;
  transition: 0.9s ease-in-out;
  background-color: #ffffff;
}

.hide {
  display: none !important;
}

/* Loader */

.fz-10 {
  font-family: var(--font-family2);
  font-size: 14px;
  color: rgb(114, 114, 114);
}

.headerdiv {
  background-color: var(--color1);
}

.btnnav {
  opacity: 0;
  display: none;
}

@media (max-width:992px) {
  .headerdiv {
    visibility: hidden !important;
    display: none !important;
  }

  .btnnav {
    opacity: 1;
    display: block;
  }

  #fg {
    display: none !important;
  }

}

.gfh>li>a {
  color: red !important;
}

.videodiv {
  margin: 0px 0px !important;
  padding: 0px !important;

}

/* navbar */
.navbar {
  font-family: var(--font-family1);
}

ul>li>a {
  margin: 0px 5px;
  /* padding: 0px 45px; */
  font-weight: 600;
  text-transform: uppercase !important;
  color: white !important;
}

.navfixed {
  z-index: 1000 !important;
  position: fixed !important;
  top: 0px !important;
  width: 100% !important;
  background-color: black !important;
  transition: 0.6s ease-in-out !important;
}

.navfixed1 {
  transition: 0.6s ease-in-out !important;

  width: 100% !important;
  position: absolute !important;
  top: 0px !important;
}

.btna {
  padding: 4px 6px;
  border: none;
  font-weight: 600;
  background-color: #A27C1B;
}

/* navbar */

/* fixcontent */
.fixcontent {

  position: fixed;
  bottom: 7px;
  z-index: 1;
}

/* fixcontent */

/* ABOUT */
#about-img {

  padding: 0px !important;

  height: 150vh;
  font-family: var(--font-family1);
  background-image: url("assets/bottom1.jpg");
}

#laptop {
   height: 320px;
  width: 500px; 
  object-fit: cover;
  background-size: cover;
  background-image: url("assets/slider_frame.png");
}
@media (max-width:992px) {
  #laptop{
    display: none !important;
  }
}

/* ABOUT */

/* couse */
#couse {
  /* height: 100vh; */
  background-image: url("assets/7-15-1.jpg");
  font-family: var(--font-family1);
}

.i1 {
  height: 450px;
  animation-duration: 6s !important;
}

/* couse */